In [1]:
# 1차원 리스트
list_o = ['a', 'i', 'f', 'f', 'e', 'l']
list_o

['a', 'i', 'f', 'f', 'e', 'l']

In [2]:
# 2차원 리스트
list_tw = [[1, 2], ['ㄱ', 'ㄴ'], ['a', 'b']]
list_tw

[[1, 2], ['ㄱ', 'ㄴ'], ['a', 'b']]

In [3]:
#3행 1열 
list_tw[2][0]

'a'

In [4]:
#인덱싱 한개만 써보기
list_tw[2]

['a', 'b']

In [5]:
#3차원 리스트
# 4행, 3열, depth 2인 3차원 리스트
list_th = [[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],\
           [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l']]]
list_th

[[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],
 [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l']]]

In [6]:
# 3차원 리스트의 길이
len(list_th)

2

In [7]:
# 열 생략 ver.
list_th[0][0]

[1, 2, 3]

In [8]:
# 열 기재 ver.
# depth 1, 1행, 열 전체
list_th[0][0][:]

[1, 2, 3]

In [9]:
# depth 2, 1행, 3열
list_th[1][0][2]

'c'

In [10]:
# Q. ['d', 'e', 'f']를 선택하려면 인덱싱을 어떻게 해야 할까요?
list_th[1][1][:]

['d', 'e', 'f']

In [11]:
list_th[1][1]

['d', 'e', 'f']

In [12]:
list2 = ['a', 'b', 'c']
len(list2)  # 3 출력

3

In [13]:
kims_age = [60, 28, 30, 34, 66, 11]  
kims_age

[60, 28, 30, 34, 66, 11]

In [15]:
max(kims_age)

66

In [16]:
min(kims_age)

11

In [17]:
# 리스트 안에 숫자와 자료형이 함께 있을 때 -> 오류
napoli = ['minjae', 3, '크바라츠헬리아', 77, 'Osimhen', 9, 'Anguissa', 99]
min(napoli)

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
# 리스트 안에 문자열만 있을 때
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']  # 문자열만 있는 리스
min (napoli_player)

'Anguissa'

In [19]:
#sum
kims_age = [60, 28, 30, 34, 66, 11]
sum(kims_age)

229

In [20]:
#반복문으로 리스트의 모든 값 더하기
total_sum = 0
for i in kims_age:
    total_sum += i
print(total_sum)

229

In [21]:
# enumerate()
for i in enumerate(kims_age):
    print(i)

(0, 60)
(1, 28)
(2, 30)
(3, 34)
(4, 66)
(5, 11)

In [22]:
# Q. napoli_player에 enumerate() 함수를 써보세요. 
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
enumerate(napoli_player)

In [24]:
# zip만 출력해보기
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 
zip

zip

In [25]:
#for문에 zip을 넣고 출려개보기
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 

for i in zip(napoli_num, napoli_player):
    print(i)

(3, 'minjae')
(77, '크바라츠헬리아')
(9, 'Osimhen')
(99, 'Anguissa')

In [27]:
# [Playground] zip()을 조금 더 연습해 보세요. 
fruits=['딸기', '사과', '망고']
colors=['red', 'pink','yellow']

for i in zip(fruits, colors):
    print (i)

('딸기', 'red')
('사과', 'pink')
('망고', 'yellow')

In [28]:
check_zip = list(zip(fruits, colors))
print(check_zip)

[('딸기', 'red'), ('사과', 'pink'), ('망고', 'yellow')]

In [29]:
#unzip 활용해서 해제
fruits, colors = zip(*check_zip)
print(fruits)
print(colors)

('딸기', '사과', '망고')
('red', 'pink', 'yellow')

In [30]:
#특정 키 삭제 pop
person ={"name": "지수", "age": 25, "city": "Seoul"}
age = person.pop("age")
print (person)

{'name': '지수', 'city': 'Seoul'}

In [31]:
#마지막 키 삭제 popitem
person = {"name": "지수", "age": 25, "city": "Seoul"}
last_item = person.popitem()
print(person)

{'name': '지수', 'age': 25}

In [32]:
# 반복문으로 아스키 코드 확인
for i in ['a', 'b', 'c', 'd']:
    print(ord(i))

97
98
99
100

In [33]:
# Q. 위에서 살펴본 알파벳과 아스키 코드로 딕셔너리를 만들어 보세요. 딕셔너리의 형태는 {Key1:Value1, Key2:Value2, Key3:Value3, ...}인 것은 아시죠? 
dict_uni = {'a':97,'b':98,'c':99,'d':100}
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [34]:
#새로운 key 넣기
dict_uni.setdefault('e')
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': None}

In [35]:
# 'e'값을 삭제하고 다시 넣어보겠습니다.
del dict_uni['e']
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [36]:
# Q. 새로운 key와 value ('e', 101)를 넣어보세요. 
dict_uni.setdefault('e', 101)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [37]:
dict_uni.setdefault('e')
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [38]:
# update 함수로 key만 입력하면 오류발생 
dict_uni.update('f')
dict_uni

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [60]:
# update()로 딕셔너리 update하기 
dict_uni.update(f=102)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'f': 102}

In [40]:
# Q. update 함수로 새로운 key와 value (g, 103)를 추가해 보세요. 
dict_uni.update(g=103)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}

In [41]:
kims_age = [60, 28, 30, 34, 66, 11]  
kims_age

[60, 28, 30, 34, 66, 11]

In [42]:
# pop() 함수는 마지막 요소를 출력하고 삭제합니다.
kims_age.pop()

11

In [43]:
#마지막 요소 삭제되었는지 확인 
kims_age

[60, 28, 30, 34, 66]

In [45]:
#딕셔너리 pop에서는 key 값을 넣어주어야 함
dict_uni = {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}
dict_uni.pop('g')

103

In [47]:
#list에서 pop
fruits = ['apple', 'banana', 'mango']
fruits.pop()

'mango'

In [48]:
fruits

['apple', 'banana']

In [49]:
# Q. pop() 함수만 사용해서 1부터 10까지의 합을 구해봅시다.

nums = list(range(1, 11))  # [1, 2, ... , 10]
result = 0  # 결과값 - 여기에 숫자를 계속 더해주세요!

for i in range(10):
    result += nums.pop()

print(result)

55

In [50]:
#fromkeys()
kims_age = [60, 28, 30, 34, 66, 11] 
kims_dict = dict.fromkeys(kims_age)
kims_dict

{60: None, 28: None, 30: None, 34: None, 66: None, 11: None}

In [51]:
#value 만들어주기
kims_age = [60, 28, 30, 34, 66, 11] 
kims_dict = dict.fromkeys(kims_age,'kor')
kims_dict

{60: 'kor', 28: 'kor', 30: 'kor', 34: 'kor', 66: 'kor', 11: 'kor'}

In [52]:
# key값만 확인 가능
dict_uni = {'a': 97, 'b':98, 'c':99, 'd':100}
'a' in dict_uni

True

In [53]:
# value값은 확인 불가능
100 in dict_uni

False

In [54]:
# value 값 확인하기
100 in dict_uni.values()

True

In [55]:
# 반복문
list_for = []
for i in range(0,11,2):
    list_for.append(i)
print(list_for)

[0, 2, 4, 6, 8, 10]

In [56]:
#위의 반복문을 리스트 컴프리헨션으로 표기
[x for x in range(0,11,2)]

[0, 2, 4, 6, 8, 10]

In [57]:
[str(x)*2 for x in range(0,11,2)]

['00', '22', '44', '66', '88', '1010']

In [58]:
# Q. 리스트 컴프리헨션을 사용하여 다음을 출력해보세요!
# [0, 1, 4, 9, 16, ..., 81]
[(x)**2 for x in range(0,9,1)]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [61]:
# 반복문 + 조건문
list_con = []
for i in range(0,11):
    if i % 2 == 0:
        list_con.append(i)
        
print(list_con)

[0, 2, 4, 6, 8, 10]

In [63]:
#리스트 컴프리헨션 with 조건문
[x for x in range(1,11) if x % 2 == 0]

[2, 4, 6, 8, 10]

In [65]:
# Q. 리스트 컴프리헨션을 사용하여 1 이상 100 이하 홀수들의 합을 계산해보세요!
sum([x for x in range(1,100) if x % 2 ==1])

2500

In [68]:
#단짠단짠 조합
sweetie = ['아이스크림', '크림빵', '젤리']
savory = ['감자칩', '팝콘', '뿌셔뿌셔'] 

[[x,y] for x in sweetie for y in savory]

[['아이스크림', '감자칩'],
 ['아이스크림', '팝콘'],
 ['아이스크림', '뿌셔뿌셔'],
 ['크림빵', '감자칩'],
 ['크림빵', '팝콘'],
 ['크림빵', '뿌셔뿌셔'],
 ['젤리', '감자칩'],
 ['젤리', '팝콘'],
 ['젤리', '뿌셔뿌셔']]

In [70]:
#단짠단짠 조합 for문
sweetie = ['아이스크림', '크림빵', '젤리']
savory = ['감자칩', '팝콘', '뿌셔뿌셔'] 

sweet_savory = []
for x in sweetie:
    for y in savory:
        sweet_savory.append([x,y])
sweet_savory

[['아이스크림', '감자칩'],
 ['아이스크림', '팝콘'],
 ['아이스크림', '뿌셔뿌셔'],
 ['크림빵', '감자칩'],
 ['크림빵', '팝콘'],
 ['크림빵', '뿌셔뿌셔'],
 ['젤리', '감자칩'],
 ['젤리', '팝콘'],
 ['젤리', '뿌셔뿌셔']]

In [71]:
#2와 3의 공배수
[x for x in range(1,30) if x%2==0 if x%3==0]

[6, 12, 18, 24]

In [72]:
# Q. 리스트 컴프리헨션을 사용하여 다음을 출력해보세요!
# [[1, 11], [2, 22], [3, 33], ..., [9, 99]]

first_number = [1,2,3,4,5,6,7,8,9]

[[x,x*11] for x in first_number]

[[1, 11],
 [2, 22],
 [3, 33],
 [4, 44],
 [5, 55],
 [6, 66],
 [7, 77],
 [8, 88],
 [9, 99]]

In [73]:
# 셋 컴프리헨션
{x for x in range(0,11,2)}

{0, 2, 4, 6, 8, 10}

In [74]:
# 셋 컴프리헨션
type({x for x in range(0,11,2)})

set

In [78]:
#딕셔너리 컴프리헨션
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 
{x:y for x, y in zip(napoli_num,napoli_player )if x<50}

{3: 'minjae', 9: 'Osimhen'}