In [1]:
# 일반 함수
def add_two(x):
    return x+2
add_two(5)

7

In [2]:
# 람다 함수
(lambda x : x + 2)(5)

7

In [3]:
# 변수에 할당된 람다 함수
add = lambda x : x + 2
add(3)

5

In [4]:
# 람다 표현식 안에서 새 변수를 만드는 것은 불가능
(lambda x : y = 10; x + y)(1)

SyntaxError: invalid syntax (3713770217.py, line 2)

In [5]:
# 람다 외부 변수 사용은 가능
y = '나폴리'
(lambda x : x + y)('이탈리아')

'이탈리아나폴리'

In [8]:
# 일반 함수
def second(x):
    results = x * 2
    return results

# 리스트
two = [i for i in range (10)]

# map() + 일반함수
list(map(second, two))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
# map + 람다 함수
# 리스트
two = [i for i in range(10)]

# map() + 람다 함수
map(lambda x : x * 2, two)

# 파이썬 3에서 map을 list로 리턴하기
list(map(lambda x : x * 2, two))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
# Q. 다음 리스트를 출력하는 코드를 람다 표현식과 리스트 컴프리헨션을 이용해 구현해보세요!
# [1, 4, 9, 16, ..., 81, 100]

num = [i for i in range(1,10)]
map (lambda x : x ** 2, num)
list(map(lambda x : x **2, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
# 일반 함수

def odd(x):
    if x % 2 == 1:
        return x

# 리스트
two = [i for i in range(10)]

#list(filter()+일반함수)
list(filter(odd,two))

[1, 3, 5, 7, 9]

In [17]:
# filter() + 람다함수
list(filter(lambda x : x % 2 ==1, two))

[1, 3, 5, 7, 9]

In [18]:
# 파이썬은 조건이 없으면 True일 때만 통과
list(filter(lambda x : x % 2, two))

[1, 3, 5, 7, 9]

In [19]:
# Q. 다음 리스트를 출력하는 코드를 filter() 함수와 람다 표현식을 이용해 구현해보세요!
# [4, 5, 6]

quiz_list = [i for i in range(10)]
list(filter(lambda x : 3 < x < 7, quiz_list ))

[4, 5, 6]

In [21]:
# 모듈 import
from functools import reduce

# 일반 함수
def f (x,y):
    return x * y
    
# 리스트
a = [1,2,3,4,5]

# reduce (일반 함수, 이터러블 객체)
reduce(f, a)

120

In [22]:
# 리스트
a = [1,2,3,4,5]

#reduce(람다 함수, 이터러블 객체)
reduce(lambda x,y : x * y, a)

120

In [23]:
# Q. 리스트 컴프리헨션과 람다 표현식을 이용해 1부터 100까지의 합을 구하는 코드를 구현해보세요!

# 리스트 
a = [ i for i in range(1,10)]
reduce(lambda x, y : x * y, a)

362880

In [24]:
# 실습퀴즈 1. map 함수
# 변수 numbers 안에 있는 값들을 모두 로그 변환해 보세요.

import math 
numbers = list(range(1, 11))
log_transformed_numbers = list(map(lambda x : math.log(x), numbers))
log_transformed_numbers

[0.0,
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046]

In [ ]:
# 실습퀴즈2. 람다 표현식
# 100 이하의 자연수 중에서 3의 배수가 아닌 숫자만 리스트에 담으세요. 

numbers = list(range(1, 101))
filtered_numbers = list(filter(lambda x : x % 3 == 1, numbers))
filtered_numbers